<html>
<head><title>{{ web_server_name }}</title></head>
<body>
<h1>Managed by Ansible</h1>
<p>Server: {{web_server_name }}</p>
<p>Admin: {{ web_admin_email }}</p>
<p>Deployed: {{ ansible_date_time.date }}</p>
</body>
</html>
